.task-body {
    position: relative;
    margin: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    z-index: -10;

}

.task-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1300px;
    height: 70vh;
    padding: 0 60px;
}

.task-content-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    padding: 40px 5px;
    flex: 1;
}

.content-Headline {

    height: 100px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 61px;
    font-weight: 700;

}

.inputfield-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.content-middle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    max-height: 690px;
    margin-top: 20px;
    gap: 32px;
    overflow-y: scroll;
}

.content-middle input {

    width: 100%;

}

.task-subcontainer {

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
    gap: 8px;
    margin-top: 16px;


}

.task-content-left {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    height: 100%;
    max-height: 540px;
    gap: 24px;
}

.inputfield-headline {

    display: flex;
    font-size: 20px;
    font-weight: 400;

}

.inputfield-headline p {

    font-size: 20px;
    font-weight: 400;
}

.inputfield-headline span {

    color: red;
}

.textarea-description {

    height: 136px;
    width: 100%;
    border-color: var(--border);
    border-radius: 10px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    padding: 12px;

}

.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 24px;
    border-radius: 10px;
    padding: 0 8px;
    background-color: white;
    padding: 0;

}

.dropdown-input {

    width: 100%;
    padding-right: 100px;
}

.dropdown-button-assigned {

    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;


}

.dropdown button img {

    transition: transform 0.2s ease;

}

.contactlistrow-overlay {

    padding: 0;
}

.contactlist-dropdown {
    position: absolute !important;
    width: 100%;
    min-height: 190px;
    max-height: 190px;
    background-color: white;
    position: absolute;
    margin-top: 4px;
    overflow-y: scroll;
    border-radius: 12px;
    z-index: 1;

}

.middleline-task {

    height: 100%;
}

.contactlistrow-drop {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 4px;
    padding: 4px 16px;
    border-radius: 10px;
}

.contactlistrow-drop:hover {
    background-color: var(--border);

}

.contactlistrow-drop button {
    border: none;
    background-color: transparent;
    padding: 0;

}

.rowcolor {

    background-color: var(--main-color);
}

.checked {

    filter: invert(100%);
}

.drop-name {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.contact-check {

    max-width: 20px;
    height: 20px;
}

.contactlist-initials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--body-color);
    padding: 4px;
    gap: 4px;
}

.initialscontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--body-color);
}

.initialscount {
    background-color: var(--body-color);
}

.middleline-task {

    height: 424px;
    border: solid;
    border-width: 1px;
    border-color: var(--border);
}

.task-content-right {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    height: 100%;
    max-height: 540px;
    gap: 24px;
}

.prio-margin {

    margin-top: 20px;
}

.prio-buttons {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 56px;
    gap: 16px;

}

.prio-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    padding: 16px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    gap: 8px;
    border-color: var(--border);
    cursor: pointer;

}

.prio-buttons button:hover {

    box-shadow: 0 4px 4px 0 var(--box-shadow-darker);
}

.prio-buttons svg {

    width: 20px !important;
    height: 14.51px !important;
    display: flex;
    align-items: center;
    justify-content: center;

}



.medium-button {

    width: 200px;
    height: 14.51px;

}

.colorred {
    background-color: #FF3D00 !important;
}

.colororange {

    background-color: #FFA800 !important;
}

.colorgreen {
    background-color: #7AE228 !important;
}

.svg-color-white path {

    fill: white !important;
}



.categorylist-dropdown {
    position: static;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 100%;
    max-width: 540px;
    margin-top: 4px;
    border-radius: 10px;
    padding: 12px 0;
    margin-bottom: 16px;
    max-height: 145px;
    overflow-y: scroll;
    z-index: 1;


}

.subtasklist-dropdown {
    position: static;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 100%;
    max-width: 540px;
    margin-top: 4px;
    border-radius: 10px;
    padding: 12px 0;
    margin-bottom: 16px;
    max-height: 125px;
    overflow-y: scroll;
    z-index: 1;


}





.categorylist-dropdown p {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    font: 20px;
    font-weight: 300;
    border-radius: 4px;
    padding: 0 12px;

}

.categorylist-dropdown p:hover {

    background-color: var(--body-color);
    cursor: pointer;
}

.dropdown-button-category {

    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subtasks-activate-button-container {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 12px;
}

.subtasks-activate-button {


    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
}

.subtasks-activate-button:hover {
    background-color: var(--body-color) !important;
}

.subtask-input-buttons {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    gap: 4px;
    padding-right: 8px;
}

.subtask-input-buttons button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    background-color: transparent !important;

}

.subtask-input-buttons button:hover {
    background-color: var(--body-color) !important;
}

.subtask-middline {
    height: 60%;
    border: solid;
    border-width: 0.6px;
    border-color: var(--border);
}

.check-icon-sub {
    filter: invert(100%);

}


.background-transparent {

    background-color: transparent;
}

.subtask-taskcard {

    padding: 0;
}

.subtask-taskcard button {
    border: none;
    background-color: transparent;
    padding: 0;
}


.subtask-row {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding-right: 8px;
}

.subtask-row p {
    background-color: transparent !important;

}

.subtask-row:hover {

    background-color: rgba(128, 128, 128, 0.125);
}

.subtask-row:hover .subtask-edit-buttons button {

    display: flex;
}

.subtask-edit-buttons {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}



.subtask-edit-buttons button {
    display: none;
    width: 20px;
    height: 20px;
    padding: 0;

    border: none;
    border-radius: 50%;
    background-color: transparent;

}

.subtask-edit-buttons button img {

    width: 12px;
}

.subtask-edit-buttons button:hover {

    background-color: var(--border);

}

.subtask-row input {

    background-color: transparent;
    border: none;
    font-size: 18px;
    word-wrap: break-word;
    overflow-x: hidden;

}

.subtask-edit-buttons-container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.check-edit-button {

    filter: invert(100%);
}

.task-footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 35px;

}

.task-buttons {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;


}

.task-buttons button {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.task-footer-overay button {
    font-size: 16px;
    height: 40px;
}

.task-footer-overay {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.task-footer-left {

    display: flex;
    justify-content: center;
    align-items: center;
}

.task-footer-left span {

    color: red;
}

.slideout-board-added {

    transform: translateY(100%);
    transition: 1000ms ease-in;
}


@media(max-width: 1440px) {

    .content-middle {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 550px;
        max-height: calc(100vh - 410px);
        margin-top: 15px;
        overflow-y: scroll;

    }

    .task-content-overlay {
        max-width: 500px;
        max-height: 926px;
        overflow-y: scroll;
    }

    .middleline-task {

        display: none;
    }

    .task-footer {

        flex-direction: column;
        gap: 8px;
        max-width: 500px;
    }

    .task-content-right {

        margin-top: 30px;
        width: 100%;

    }

    .task-content-left {
        width: 100%;

    }

    .content-Headline {
        justify-content: center;
    }


}

@media(max-width: 1025px) {

    .task-footer {
        bottom: 100px !important;
    }
}

@media(min-width: 1025px) {
    .content-middle {
        max-height: calc(100vh - 360px) !important;
    }
}

@media(max-width: 1208px) {

    .task-content {
        align-items: center;
        justify-content: flex-start;
        max-height: calc(100vh - 190px);

        padding: 0 20px;
    }

    .content-Headline {

        height: 60px;
        padding-top: 10px;
        margin-top: 20px;
    }

    .task-buttons {

        width: 100%;
    }

    .prio-margin {

        margin-top: 15px;
    }

    .categorylist-dropdown {

        position: static;
        width: 100%;
    }

    .contactlistrow-drop {
        position: static;
    }

    .task-footer-overay {
        flex-direction: column;
        gap: 4px;
    }
}

@media(max-width: 450px) {

    .content-middle button {
        font-size: 16px;
    }

    .content-middle button svg {
        width: 20px;
    }

    .prio-buttons {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        height: fit-content;
    }

    .prio-buttons button {
        padding: 10px;
        width: 200px;
    }

    .content-middle-edit button {
        font-size: 16px;
    }

    .content-middle.edit button svg {
        width: 20px;
    }

    .content-middle-edit input {

        font-size: 16px;
    }

    .textarea-description {

        font-size: 16px;
    }

    .task-buttons button {

        font-size: 16px;
    }

    .task-buttons button svg {

        width: 20px;
    }

    .content-Headline h1 {

        font-size: 40px;
    }

    .subtask-row input {

        padding-left: 0;
    }

    .task-content-overlay input {
        height: 40px;
    }

    .task-content-overlay p {

        font-size: 16px;
    }
}

@media(max-height: 990px) {
    .content-middle {
        max-height: calc(100vh - 360px);
        height: 520px;
        
    }

    .content-middle input {

        height: 40px;
        font-size: 16px;
    }

    .content-middle button {
        height: 40px;
        font-size: 16px;
    }

    .content-middle .textarea-description {
        height: 80px;
        font-size: 16px;
    }

    .content-middle p {
        font-size: 16px;
    }

    .task-content-right {
        gap: 16px;
    }

    .task-content-left {
        gap: 16px;
    }

    .task-footer button {
        height: 40px;
        font-size: 16px;
    }

    .task-content-main {
        padding: 0 10px;
    }

    .content-Headline {
        padding: 10px 0;
        font-size: 47px;
        align-items: flex-start;
        height: fit-content;
    }

    .task-subcontainer {
        margin-top: 0;
        gap: 8px;
    }

    .content-middle {
        margin-top: 0;
    }

    .middleline-task {
        height: 300px;
    }

}

@media(max-height: 990px) {
    .task-footer {
        bottom: 40px;
    }
}